<div class="container event-details">
    <div class="row">
        <div class="col events-header">
			<h2>Events name: <%= @event.name%></h2>
		</div>
    </div>
    <div class="row">
        <div class="col col-md-3">
        Location: <%= @event.location %>
        <%if @event.creator %>
            <div class="col col-md-3">
                Created by: <%= link_to @event.creator.name, @event.creator%>
            </div>
        <%end%>
        <div class="col col-md-3">
        Date and Time: <%= @event.date %>
        </div>
        <div class="col col-md-3">
        Description: <%= @event.description %>
        </div>

        <div class="col col-md-3 check_box input-field">
            <%= form_with(model: @event, url: event_path(@event), method: "patch") do |f| %>
                <%= f.check_box :attendees %> 
                <%= f.label "Tick if you will be attending the event." %>
                <div class="button">
                    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
                </div>
            <% end %>
        </div>

    </div>
    
</div>